@import "./variables.scss";
:root {
  --primary: #14213d;
  --primary-light: #93aadc;

  --secondary: #e5e5e5;

  --accent: #fca311;
  --accent-light: #f8cb83;

  --error: #c53838;

  --dark: #000000;
  --light: #ffffff;
}
* {
  box-sizing: border-box;
}
